
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="footer-nav">
                    <button class="hamburger hamburger--collapse hidden-lg-up left footer-nav-mob" type="button">
                          <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                          </span>
                    </button>
                    <div class="cr"></div>
                    <ul>
                        <li><a href="javascript: void(0);">Собаки</a></li>
                        <li><a href="javascript: void(0);">Кошки</a></li>
                        <li><a href="javascript: void(0);">Грызуны</a></li>
                        <li><a href="javascript: void(0);">Хорьки</a></li>
                        <li><a href="javascript: void(0);">Птицы</a></li>
                        <li><a href="javascript: void(0);">Лошади</a></li>
                        <li><a href="javascript: void(0);">Рыбки</a></li>
                        <li><a href="javascript: void(0);">Рептилии</a></li>
                        <li><a href="javascript: void(0);">Бренды</a></li>
                        <li><a href="javascript: void(0);">Акции</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6 hidden-md-down">
                <nav class="item-foot">
                    <ul>
                        <li><a href="javascript: void(0);">О магазине</a></li>
                        <li><a href="javascript: void(0);">Контакты</a></li>
                        <li><a href="javascript: void(0);">Акции</a></li>
                        <li><a href="javascript: void(0);">Подарки</a></li>
                    </ul>
                </nav>
                <nav class="item-foot">
                    <ul>
                        <li><a href="javascript: void(0);">О магазине</a></li>
                        <li><a href="javascript: void(0);">Контакты</a></li>
                        <li><a href="javascript: void(0);">Акции</a></li>
                        <li><a href="javascript: void(0);">Подарки</a></li>
                    </ul>
                </nav>
                <nav class="item-foot">
                    <ul>
                        <li><a href="javascript: void(0);">Новости</a></li>
                        <li><a href="javascript: void(0);">Оплата</a></li>
                        <li><a href="javascript: void(0);">Доставка</a></li>
                        <li><a href="javascript: void(0);">Возврат</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-6">
                <form class="form-footer" action="javascript: void(0);">
                    <strong>ПОДПИСКА НА СПЕЦПРЕДЛОЖЕНИЯ</strong>
                    <input type="text" placeholder="Ваш email">
                    <input type="submit" value="Подписаться">
                </form>
                <ul class="soz">
                    <li><a class="fb" href="javascript: void(0);"></a></li>
                    <li><a class="tw" href="javascript: void(0);"></a></li>
                </ul>
            </div>
            <div class="col-lg-12 hidden-sm-down">
                <div class="copyrait both">
                    <p class="left">&copy; zoopassage.ru, 2016 </p>
                    <a class="right" href="javascript: void(0);">Сделано в WebПуск</a>
                </div>
            </div>
        </div>
    </div>
</footer>


</div>
</div>


<script src="js/script.js"></script>

    </body>
</html>